* {
  font-family: "Roboto", serif;
}

.container-color {
  background: #1F2937;
  color: #E5E7EB;
}

.container-spacing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-content {
  max-width: 1200px;
  padding: 24px 0px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* this selector selects all divs inside of .flex-container */
.navigation {
  display: flex;
  gap: 16px;
}

.hero-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.main-text {
  flex: 1 1 0;
}

.placeholder {
  background: #999ca1;
  height: 200px;
  flex: 1 1 0;
}

.button {
  border: none;
  color: #E5E7EB;
  background-color: #3882F6;
  padding: 15px 60px;
  border-radius: 6px;
  cursor: pointer;
  opacity: 1;
}

.button:hover {
  opacity: 0.6;
}